version: "3.8"

services:
  php:
    build: "docker/php"
    working_dir: "/var/code"
    volumes:
      - ".:/var/code"
      - "./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini"
      - "./docker/php/error_reporting.ini:/usr/local/etc/php/conf.d/docker-error_reporting.ini"